@page
@model AdminModel
@{
    ViewData["Title"] = "Admin";
}

<a asp-page="./AdminCreateProduct">Create new product</a>


wordt niet meer gebruikt


    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <h2>@ViewData["Title"]</h2>
        <h3>@Model.Message</h3>
        <p>Use this area to provide additional information.</p>
    }
    else
    {
        <p>Trying to sneak in?</p>
    }

