@page
@model WebApplication1.Pages.Account.Manage.TestEditModel
@{
    ViewData["Title"] = "TestEdit";
}

<h2>TestEdit  - @Model.Users.Id - @Model.Users.Email</h2>

<form method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="Users.Id" type="hidden" />
    <input asp-for="Users.ConcurrencyStamp" type="hidden" />
    <div>
        <label asp-for="Users.LastName"></label>
        <div>
            <input asp-for="Users.LastName" />
            <span asp-validation-for="Users.LastName"></span>
        </div>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>