@page
@model WebApplication1.Pages.Admin.AdminEditProductModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "AdminEditProduct";
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="container">
        <div id="HideStatus">@Html.Partial("_StatusMessage", Model.StatusMessage)</div>
        <h2>Admin Edit Product: @Model.Input.ResponseName</h2>

        <h4>Product</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Product.ID" />
                    <div class="form-group">
                        @*vraag me af of het nodig is, voorheen werd het op null gezet als het er niet stond -> kijk hier naar*@
                        <input type="hidden" asp-for="Product.QueryName" onkeypress="hidediv()" class="form-control" data-val="true" />
                        <span asp-validation-for="Product.QueryName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ResponseName" class="control-label"></label>
                        <input asp-for="Input.ResponseName" onkeypress="hidediv()" class="form-control" id="name"  />
                        <span asp-validation-for="Input.ResponseName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.HeaderImage" class="control-label"></label>
                        <input asp-for="Input.HeaderImage" onkeypress="hidediv()" class="form-control"  />
                        <span asp-validation-for="Input.HeaderImage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.AboutText" class="control-label"></label>
                        <input asp-for="Input.AboutText" onkeypress="hidediv()" class="form-control" />
                        <span asp-validation-for="Input.AboutText" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.PriceFinal" class="control-label">Price of the product *</label>
                        <input asp-for="Input.PriceFinal" onkeypress="hidediv()" class="form-control" />
                        <span asp-validation-for="Input.PriceFinal" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Input.GenreIsAction" /> Action
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Input.GenreIsAdventure" /> Adventure
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Input.GenreIsRacing" /> Racing
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Input.GenreIsMassivelyMultiplayer" /> MassivelyMultiplayer ( MMO )
                            </label>
                        </div>
                    </div>



                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-default" onclick="this.disabled = true;this.form.submit()" id="AdminSaveEdit" onkeypress="hidediv()" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-page="/Shopping" class="btn btn-primary">Back to Shopping</a> &nbsp;&nbsp;
            <a asp-page="/Admin/Admin" class="btn btn-primary">Back to Admin-panel</a>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-6" style="margin-top:10em;margin-bottom:10em;">
                <p>You are lost go to <a asp-page="/Index" class="btn btn-info">Home</a></p>
            </div>
        </div>
    </div>
    <script>
        window.location.replace("https://localhost:44358")
    </script>
}

<script>
    function hidediv() {
        document.getElementById("HideStatus").style.display = "none";
    }
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
