@page
@model WebApplication1.Pages.Admin.AdminCreateProductModel

@{
    ViewData["Title"] = "TestCreateProduct";
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="container">
        <div id="HideStatus">@Html.Partial("_StatusMessage", Model.StatusMessage2)</div>
        <h2>Admin-Create</h2>

        <h4>New Product</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.ResponseName" class="control-label"></label>
                        <input asp-for="Input.ResponseName" class="form-control" />
                        <span asp-validation-for="Input.ResponseName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.HeaderImage" class="control-label"></label>
                        <input asp-for="Input.HeaderImage" class="form-control " />
                        <span asp-validation-for="Input.HeaderImage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.AboutText" class="control-label"></label>
                        <input asp-for="Input.AboutText" class="form-control" />
                        <span asp-validation-for="Input.AboutText" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.PriceFinal" class="control-label"></label>
                        <input asp-for="Input.PriceFinal" class="form-control" />
                        <span asp-validation-for="Input.PriceFinal" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Input.GenreIsAction" /> Action
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Input.GenreIsAdventure" />Adventure
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Input.GenreIsRacing" /> Racing
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Input.GenreIsMassivelyMultiplayer" /> MassivelyMultiplayer ( MMO )
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-page="/Admin/Admin">Back to Admin-panel</a>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    <script>
        function hidediv() {
            document.getElementById("HideStatus").style.display = "none";
        }
    </script>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-6" style="margin-top:10em;margin-bottom:10em;">
                <p>You are lost go to <a asp-page="/Index" class="btn btn-info">Home</a></p>
            </div>
        </div>
    </div>
    <script>
        window.location.replace("https://localhost:44358")
    </script>
}