@page
@model WebApplication1.Pages.Admin.AdminModel
@{
    ViewData["Title"] = "Admin";
}
@Html.Partial("_StatusMessage", Model.StatusMessage)
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <a asp-page="AdminCreateProduct" id="CreateAdminButton" class="btn">Create new product</a>
    <a asp-page="UserManage" id="ManageUserredirict" class="btn">User Management</a>
    <a asp-page="../Index" class="btn">Home</a>

    <h2>@ViewData["Title"]</h2>
    <h3>@Model.Message</h3>
    <p>Use this area to provide additional information.</p>
}
else
{
    <p>Trying to sneak in?</p>
}
