@page
@model WebApplication1.Pages.Admin.UserManageModel
@{
    ViewData["Title"] = "UserManage";
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <h2>UserManage</h2>
    <a asp-page="AdminCreateUser" class="btn" id="AdminCreateUserButton">Create User</a>
    <a asp-page="Admin" class="btn">Back</a>
    <table class="table">
        <tr>
            <th>Email</th>
            <th>Lastname</th>
            <th></th>
            <th></th>
        </tr>
        @{
            foreach (var item in Model.Users)
            {
                <tr>
                    <td>@item.Email</td>
                    <td>@item.LastName</td>
                    <td><a asp-page="AdminEditUser" asp-route-UserID="@item.Id">edit</a></td>
                    <td><a asp-page-handler="delete" asp-route-UserID="@item.Id">Delete</a></td>
                </tr>
            }
        }
    </table>
}
else
{
    <p>You at the wrong place</p>
}