@page
@model WebApplication1.Pages.Wishlist.WishlistModel
@{
    ViewData["Title"] = "Wishlist";
}

<h2>Wishlist</h2>

@{ 
<table class="table">
    <tbody>
        <tr>
        @{
            foreach (var item in Model.Wishlistitems)
            {
                
                    <td>@item.Product_ID</td>
                
            }
        }   
            </tr>
   <tr>
        @{ foreach (var product in Model.productitems)
            {
                <td>@product.ResponseName</td>
                <td>button here</td>
            }
        }
    </tr>
        
    </tbody>

</table>
            }
