@page
@model WebApplication1.Pages.Wishlist.WishlistModel
@{
    ViewData["Title"] = "Wishlist";
}

<h2>Wishlist</h2>

@{ 
<table class="table">
    <tbody>
        <tr>
            @{
                foreach (var item in Model.Wishlistitems)
                {

                    <td>@item.Product_ID</td>
                    <td>
                        <form asp-page="DeleteItemWishList" method="post">
                            <input type="hidden" name="wish" value="@item.Product_ID" />
                            <input type="hidden" name="id" value="@item.User_ID" />
                            <input type="submit" value="delete from favorites" />
                        </form>
                    </td>
                }
            }
        </tr>
   <tr>
        @{ foreach (var product in Model.productitems)
            {
                <td>@product.ResponseName</td>
               
            }
        }
    </tr>
        
    </tbody>

</table>
            }
