<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="~/css/paper-kit.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <script src="https://code.jquery.com/jquery-1.12.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script type="text/javascript">
        $(document).ready(function () {
            $("[data-toggle=tooltip]").tooltip();
        })
    </script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="js/GetPoints.js"></script>

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-#primary">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/Index">MONKEY.</a>
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Shopping" id="NavProducts">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/policy" id="NavPolicy">General information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Contact" id="NavContact">Contact</a>
                </li>
                <li class="nav-item">
                    <form method="post" asp-page="/Search" class="formsearch" id="Searchbar">
                        <input asp-page="Search" name="Search" type="search" placeholder="Search.." class="search" style="color:black;" id="SearchName">
                        <input type="hidden" name="page_index" value="0" />
                        <input type="hidden" name="page_size" value="50" />
                        <button style="visibility:hidden;" type="submit"></button><i class="fa fa-search"></i>
                    </form>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <div id="DiamondPoints"></div>
                        <script>GetPoints();</script>
                    </li>
                }
            </ul>

        </div>
        @await Html.PartialAsync("_LoginPartial")

    </nav>
    <div class="container-fluid" style="width:100%; padding-left:0px!important; padding-right:0px;">
        @RenderBody()
        <footer>
            <section id="footer">
                <div class="container">
                    <div class="row text-center text-xs-center text-sm-left text-md-left">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <h5>Quick links</h5>
                            <ul class="list-unstyled quick-links">
                                <li><a asp-page="/Index"> Home</a></li>
                                <li><a asp-page="/Shopping"> Products</a></li>
                                <li><a asp-page="/ShoppingCart"> Cart</a></li>
                                <li><a asp-page="/Account/Login"> Login</a></li>
                                <li><a asp-page="/Account/Register"> Register</a></li>
                            </ul>
                        </div>
                        @*<div class="col-xs-12 col-sm-4 col-md-4">
                                <h5>Quick links</h5>
                                <ul class="list-unstyled quick-links">
                                    <li><a href="javascript:void();">Home</a></li>
                                    <li><a href="javascript:void();">About</a></li>
                                    <li><a href="javascript:void();">FAQ</a></li>
                                    <li><a href="javascript:void();">Get Started</a></li>
                                    <li><a href="javascript:void();">Videos</a></li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <h5>Quick links</h5>
                                <ul class="list-unstyled quick-links">
                                    <li><a href="javascript:void();">Home</a></li>
                                    <li><a href="javascript:void();"> About</a></li>
                                    <li><a href="javascript:void();"> FAQ</a></li>
                                    <li><a href="javascript:void();"> Get Started</a></li>
                                </ul>
                            </div>*@
                    </div><hr />
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                            <p class="h6">&copy All rights Reserved.<a class="text-green ml-2">MONKEY</a></p>
                        </div>
                        </hr>
                    </div>
                </div>
            </section>
        </footer>
    </div>
    <environment include="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
<style>
    * {
        font-family: 'Montserrat', sans-serif;
    }

    .navbar-brand {
        font-family: 'Rubik', sans-serif;
    }

    .nav-item nav-link {
        padding: 0px 20px 0px 10px;
    }

    .navbar {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .formsearch {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: all 1s;
        width: 50px;
        height: 50px;
        background: white;
        box-sizing: border-box;
        border-radius: 25px;
        border: 4px solid white;
        padding: 5px;
    }

    .search {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 42.5px;
        line-height: 30px;
        outline: 0;
        border: 0;
        display: none;
        /*background: #66615B;*/
        font-size: 1em;
        border-radius: 20px;
        padding: 0 20px;
    }

    .fa {
        box-sizing: border-box;
        padding-top: 12.5px;
        width: 42.5px;
        height: 42.5px;
        /*background: #66615B;*/
        position: absolute;
        top: 0px;
        right: 0;
        border-radius: 100%;
        color: #07051a;
        text-align: center;
        font-size: 1.2em;
        transition: all 1s;
    }

        .fa fa-search {
            padding-top: 2px !important;
        }

    .formsearch {
        width: 200px;
        cursor: pointer;
    }

        .formsearch input {
            display: block;
        }

        .formsearch:hover  .fa {
            background: #66615B;
            color: white;
        }

    section {
        padding: 60px 0;
    }

        section .section-title {
            text-align: center;
            color: #007b5e;
            margin-bottom: 50px;
            text-transform: uppercase;
        }

    #footer {
        background: #16262E !important;
    }

        #footer h5 {
            padding-left: 10px;
            border-left: 3px solid #eeeeee;
            padding-bottom: 6px;
            margin-bottom: 20px;
            color: #ffffff;
        }

        #footer a {
            color: #ffffff;
            text-decoration: none !important;
            background-color: transparent;
            -webkit-text-decoration-skip: objects;
        }

        #footer ul.social li {
            padding: 3px 0;
        }

            #footer ul.social li a i {
                margin-right: 5px;
                font-size: 25px;
                -webkit-transition: .5s all ease;
                -moz-transition: .5s all ease;
                transition: .5s all ease;
            }

            #footer ul.social li:hover a i {
                font-size: 30px;
                margin-top: -10px;
            }

            #footer ul.social li a,
            #footer ul.quick-links li a {
                color: #ffffff;
            }

                #footer ul.social li a:hover {
                    color: #eeeeee;
                }

        #footer ul.quick-links li {
            padding: 3px 0;
            -webkit-transition: .5s all ease;
            -moz-transition: .5s all ease;
            transition: .5s all ease;
        }

            #footer ul.quick-links li:hover {
                padding: 3px 0;
                margin-left: 5px;
                font-weight: 700;
            }

            #footer ul.quick-links li a i {
                margin-right: 5px;
            }

            #footer ul.quick-links li:hover a i {
                font-weight: 700;
            }
</style>
<script type="text/javascript">
    $.validator.methods.number = function (value, element) {
        return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
    }
    $.validator.methods.range = function (value, element, param) {
        var globalizedValue = value.replace(",", ".");
        return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
    } 
</script>
