<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="~/css/paper-kit.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <script src="https://code.jquery.com/jquery-1.12.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script type="text/javascript">
        $(document).ready(function () {
            $("[data-toggle=tooltip]").tooltip()
        })
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-#primary">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/Index">MONKEY.</a>
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Shopping">Products</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Categories</a>
                    <ul class="dropdown-menu dropdown-menu-left ">
                        <div class="dropdown-header" data-toggle="tab" href="#action">My profile</div>
                        <a asp-page="/Account/Login" class="dropdown-item">Login</a>
                        <a asp-page="/Account/Register" class="dropdown-item">Register</a>
                    </ul>
                </li>
                <li class="nav-item">
                    <form method="post" asp-page="/Search" class="formsearch">
                        <input asp-page="Search" name="Search" type="search" placeholder="Search.." class="search">
                        <input type="hidden" name="page_index" value="0" />
                        <input type="hidden" name="page_size" value="50" />
                        <button style="visibility:hidden;" type="submit"></button><i class="fa fa-search"></i>
                    </form>
                </li>
            </ul>

        </div>
        @await Html.PartialAsync("_LoginPartial")

    </nav>
    <div class="container-fluid">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Monkey</p>
        </footer>
    </div>
    <environment include="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </environment>


    @RenderSection("Scripts", required: false)
</body>
</html>

<style>
    * {
        font-family: 'Montserrat', sans-serif;
    }

    .navbar-brand {
        font-family: 'Rubik', sans-serif;
    }

    .nav-item nav-link{
        padding: 0px 20px 0px 10px;
    }

    .navbar {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .formsearch {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: all 1s;
        width: 50px;
        height: 50px;
        background: white;
        box-sizing: border-box;
        border-radius: 25px;
        border: 4px solid white;
        padding: 5px;
    }

    .search {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 42.5px;
        line-height: 30px;
        outline: 0;
        border: 0;
        display: none;
        /*background: #66615B;*/
        font-size: 1em;
        border-radius: 20px;
        padding: 0 20px;
    }

    .fa {
        box-sizing: border-box;
        padding-top: 12.5px;
        width: 42.5px;
        height: 42.5px;
        /*background: #66615B;*/ 
        position: absolute;
        top: 0px;
        right: 0;
        border-radius: 100%;
        color: #07051a;
        text-align: center;
        font-size: 1.2em;
        transition: all 1s;
    }

    .fa fa-search{
        padding-top:2px !important;
    }

    .formsearch:hover {
        width: 200px;
        cursor: pointer;
    }

    .formsearch:hover input {
        display: block;
    }

    .formsearch:hover .fa {
        background: #66615B;
        color: white;
    }
</style>
