@using Microsoft.AspNetCore.Identity
@using WebApplication1.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <div class="dropdown">
                <button style="background-color:#222222; color:white; border: none; vertical-align:bottom; margin-top:10px;" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a asp-page="/Account/Manage/Index" title="Manage">My profile</a></li>
                    <li role="separator" class="divider"></li>
                    <button style="background-color: #fff; color:black;" type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
                </ul>
            </div>
        </ul>
</form>
}
else
{

    <ul class="nav navbar-nav navbar-right">
        <div class="dropdown">
            <button style="background-color:#222222; color:white; border: none; vertical-align:bottom; margin-top:10px;" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a asp-page="/Account/Register">Sign Up</a></li>
                <li><a asp-page="/Account/Login">Login</a></li>
            </ul>
        </div>
    </ul>
}
