@page
@model WebApplication1.Pages.FinishCheckoutModel
@{
    ViewData["Title"] = "FinishCheckout";
}

<h2>Done</h2>

<p>
    Thank your for your purchase by Monkey.<br/>
    To continue shopping click below.<br/>
    <a asp-page="index" class="btn">Continue shopping</a>
</p>