@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container" style=" width:100% !important">
    <header class="jumbotron my-4" style="background-image:url(https://images5.alphacoders.com/693/693371.jpg);">
        <h1 class="display-3">Mafia 3</h1>
        <p class="lead">Set within the fictional city of New Bordeaux, based on New Orleans, <br />the single-player story follows Lincoln Clay, a criminal who aims to build a new <br />crime organization while seeking revenge on the Italian mob. The open <br />world design lets players freely roam New Bordeaux's open landscape</p>
        <a href="#" class="btn btn-primary btn-lg">Shop</a>
    </header>

    <!-- Page Features -->
    <h2>Populair &nbsp;<i style="color:#d63230" class="fas fa-fire"></i></h2>
    <div class="row text-center">
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="https://wallpapercave.com/wp/xHEVAKJ.jpg" style="width:100%;" alt="">
                <div class="card-body">
                    <h4 class="card-title">Counter Strike</h4>
                    <p>€9,99</p>
                </div>
                <div class="card-footer">
                    <a href="https://localhost:44358/Productinfo?id=1" class="btn btn-primary">Info</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="https://images5.alphacoders.com/693/693371.jpg" style="width:100%;" alt="">
                <div class="card-body">
                    <h4 class="card-title">Mafia 3</h4>
                    <p>€59,00</p>
                </div>
                <div class="card-footer">
                    <a href="https://localhost:44358/Productinfo?id=12008" class="btn btn-primary">Info</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="https://images4.alphacoders.com/707/707865.jpg" style="width:100%; height:159px;" alt="">
                <div class="card-body">
                    <h4 class="card-title">Dead by Daylight</h4>
                    <p>€19,99</p>
                </div>
                <div class="card-footer">
                    <a href="https://localhost:44358/Productinfo?id=6888" class="btn btn-primary">Info</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="https://i1.wp.com/www.gambitmag.com/wp-content/uploads/2018/09/maxresdefault-7.jpg?zoom=1.25&resize=750%2C422&ssl=1" style="width:100%; height:159px;" alt="">
                <div class="card-body">
                    <h4 class="card-title">Battlerite </h4>
                    <p>€15,00</p>
                </div>
                <div class="card-footer">
                    <a href="https://localhost:44358/Productinfo?id=10774" class="btn btn-primary">Info</a>
                </div>
            </div>
        </div>



    </div>
    <!-- /.row -->

</div>

<style>

    .container body-content{
        width:100%;
    }

    .stylish-input-group .input-group-addon {
        background: white !important;
    }

    .stylish-input-group .form-control {
        border-right: 0;
        box-shadow: 0 0 0;
        border-color: #ccc;
    }

    .stylish-input-group button {
        border: 0;
        background: transparent;
    }

    .card {
        height: 100%;
    }


</style>
