@page
@model WebApplication1.Pages.OrderHistoryModel

@{
    ViewData["Title"] = "OrderHistory";
}


@if (User.Identity.IsAuthenticated)
{
<h2>Order History</h2>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Key[0].License)
                </th>
            <th>
               Product name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Key)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.License)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Products.ResponseName)
            </td>
        </tr>
}
    </tbody>
</table>
}