@page
@using Microsoft.CodeAnalysis.Host
@model policyModel
@{
    ViewData["Title"] = "Policy";
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Policy</title>
    </head>
    <body>
    <h1>Policies</h1>
    <h2>Cookie policy</h2>
    <p>
        This website will only use necesarry cookie's so that the website can function correctly.
    </p>
    <h2>Delivery policy</h2>
    <p>
        As soon as you paied for youre product we send youre key directly to youre e-mail address that you have provided.
        This can take same time. That is why we have 48 hours to send you the key to youre address.
    </p>
    <h2>Return policy</h2>
    <p>
        You can not return any products because you can already activate your product key ore made a copy of youre product key and we cannot sell an used product.
        Once you bought youre key(s) you cannot return them.
    </p>
    <h2>Privacy policy</h2>
    <p>
        We will only store personal information that is necesarry for oure operations and security.
        We will never sell or distribute youre personal information.
        We will do everything to secure youre personal information.
    </p>
    </body>
</html>
