@page
@model WebApplication1.Pages.SearchModel
@{
    ViewData["Title"] = "Search";
}

<h2>Search</h2>
<table class="table">
    <tbody>
    @{
        int i_products = 0;
        while (i_products < Model.Products_page.Items.Length)
        {
            <tr>
                @for (int i = 0; i < 4; i++)
                {
                    if (i_products < Model.Products_page.Items.Length)
                    {
                        Product item = Model.Products_page.Items[i_products];
                        <td>
                            <img src="@Html.DisplayFor(modelItem => item.HeaderImage)" style="width: 100px; height: auto;" /><br />
                            <p style="font-size: 18px"><b>@Html.DisplayFor(modelItem => item.ResponseName)</b></p>
                            <!---<a href="Productinfo?id=Model.Products[i_products].ID" class="btn btn-primary">Product info</a>-->
                        </td>
                    }
                    i_products++;
                }
            </tr>
        }
    }
    </tbody>
</table>
<nav aria-label="...">
    <ul class="pagination">
        @{
            if (Model.Products_page != null)
            {
                    for (int i = 4; i > -4; i--)
                    {
                        int page_index = Model.Products_page.Index - i;

                        if (page_index > -1 && page_index <= Model.Products_page.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" href="search?search=@Model.Products_page.SearchQuery&page_size=50&page_index=@page_index">
                                    @page_index
                                </a>
                            </li>
                        }
                    }
            }
        }
    </ul>
</nav>