@page
@model WebApplication1.Pages.ShoppingCartModel
@{
    ViewData["Title"] = "ShoppingCart";
}

<h2>ShoppingCart</h2>
@foreach (var item in Model.Products)
{
    @item.product.ResponseName @item.quantity <br/>
}
