@page
@using Microsoft.CodeAnalysis.Host
@model ShoppingModel
@{
    ViewData["Title"] = "Shopping";

}
@*<h2>@ViewData["Title"]</h2>
*@
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <table class="table">
                <thead>
                    <tr>
                        <th>Price</th>
                    </tr>
                </thead>
            </table>

            <table class="table">
                <form method="post" asp-page-handler="price">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Min</label>
                            <input asp-for="Price" type="number" name="min" class="form-control" id="inputEmail4" placeholder="$0">
                        </div>
                        <div class="form-group col-md-6 text-right">
                            <label>Max</label>
                            <input asp-for="Price" type="number" name="max" class="form-control" placeholder="$1,0000">
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm btn-block">Filter out </button>
                    </div>
                </form>
            </table>

            <table class="table">
                <thead>
                    <tr>
                        <th>Genres</th>
                    </tr>
                </thead>
            </table>

            <table>
                <div class="custom-control custom-checkbox">
                    <span class="float-right badge badge-light round">52</span>
                    <input type="checkbox" class="custom-control-input" id="Check1">
                    <label class="custom-control-label" for="Check1">Adventure</label>
                </div> <!-- form-check.// -->
                <div class="custom-control custom-checkbox">
                    <span class="float-right badge badge-light round">52</span>
                    <input type="checkbox" class="custom-control-input" id="Check2">
                    <label class="custom-control-label" for="Check2">Racing</label>
                </div> <!-- form-check.// -->
                <div class="custom-control custom-checkbox">
                    <span class="float-right badge badge-light round">52</span>
                    <input type="checkbox" class="custom-control-input" id="Check3">
                    <label class="custom-control-label" for="Check3">Shooter</label>
                </div> <!-- form-check.// -->
                <div class="custom-control custom-checkbox">
                    <span class="float-right badge badge-light round">52</span>
                    <input type="checkbox" class="custom-control-input" id="Check4">
                    <label class="custom-control-label" for="Check4">Multiplayer</label>
                </div> <!-- form-check.// -->
            </table>
        </div>   

        <div class="col-md-9">
            <table class="table">
                <thead>
                    <tr>
                        <th style="text-align:right;">
                            Order by : 
                            <select aria-labelledby="dropdownMenuButton">
                                
                                <option>Price (High to low)</option>
                                <option>Price (Low to High)</option>
                            </select>

                        </th>

                    </tr>
                </thead>
            </table>

            @{
                int i_products = 0;
                while (i_products < Model.Products.Length)
                {
                    <div class="card-columns">
                        @for (int i = 0; i < 3; i++)
                        {
                            if (i_products < Model.Products.Length)
                            {
                                Product item = Model.Products[i_products];

                                <div class="card">
                                    <div onclick="location.href = 'Productinfo?id=@Model.Products[i_products].ID';" style="cursor: pointer">
                                        <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.HeaderImage)" style="width:100%; object-fit:cover; height:200px; " alt="...">
                                    </div>
                                    <div class="card-body">
                                        <h6 class="display-5">@Html.DisplayFor(modelItem => item.ResponseName)</h6>
                                        <p>€ @Html.DisplayFor(modelItem => item.PriceFinal)</p>
                                    </div>

                                </div>


                            }
                            i_products++;
                        }
                    </div>



                }
            }
        </div>
    </div>

    <div class="row">

        <nav aria-label="..." style="text-align:center; margin:0 auto; color:#16262E; border-color:#16262E;">
            <ul class="pagination" sstyle="color:#16262E; border-color:#16262E;">
                @{
                    if (Model.Products_page != null && Model.show_Pagination == false)
                    {
                        if (Model.Products_page.empty == false)
                        {
                            for (int i = 4; i > -4; i--)
                            {
                                int page_index = Model.Products_page.data.Index - i;

                                if (page_index > -1 && page_index <= Model.Products_page.data.TotalPages)
                                {
                                    <li class="page-item">
                                        <a style="color:#16262E; border-color:#16262E !important;" class="page-link" href="Shopping?handler=page&page_index=@page_index&page_size=50">
                                            @page_index
                                        </a>
                                    </li>
                                }
                            }
                        }
                    }
                }
            </ul>
        </nav>

    </div>
</div>


<style>


    .container.body-content {
        width:100%;
        padding-top: 20px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .card {
        min-height: 300px;
    }
    .card-body{
        min-height:150px;
    }

    .container {
        margin-top: 1.5rem !important;
    }
</style>